*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

/* Impostazione nav */
nav {
    max-width: 100%;
    border: dashed 1px black;
    padding: 15px;
    /* test */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .info {
    border: dashed 1px red;
    display: flex;


}
nav .logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;

}
nav .functions ul .a{
    text-decoration: none;
}

nav  .login {
    border: dashed 1px blue;

    display: flex;
    align-items: center;
    gap: 20px;
    
}
button{
    background-color: #0061FF;
    border: #0061FF;
    color: white;

    padding: 10px;
}
button:hover{
    background-color: darkblue;
}
/* Fine nav */

/* Impostazione header */
header{
    background-color: #B4D0E7;
    
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    border: 2px black solid;
}
header .container{
    
    /* test */
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
}
header .container .title{
    width: 100%;

    border: 1px dotted green ;

    font-size: 30px;


}
header .impaginazione{
    display: flex;
    margin-top: 30px;
    position: relative;
}
header .container .text{
    border: 1px dotted red;
    
    flex-grow: 1;
    
}
header .container .text button {
    margin: 30px 0px;
}
header .container .image{
    border: 2px solid blue;
    width: 60%;

   
}
header .container .arrow{
    font-size: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

/* Fine header */

/* Impostazione main */
/* Impostazione prima section */
main .container-small{
    border: 2px solid black;
    /* test */

    margin-top: 40px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
    
}
main .container-small .chapter{
    margin-bottom: 40px;
}
main .container-small .buttons{
    display: flex;
   margin-bottom: 20px;
}
main .container-small .buttons :nth-child(2){
    margin-left: 50px;
}

main .container-small .column{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /*  border: 1px solid red; */
}
main .container-small .column .professional{
    border: 1px black solid;
   /*  border-bottom: none; */
    width: calc(100% / 3 - 20px);

    display: flex;
    align-items: center;
    flex-direction: column;

}
main .container-small .column .name{
}
main .container-small .column .advanced{
    border: 1px black solid;
    width: calc(100% / 3 - 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
}main .container-small .column .enterprise{
    border: 1px black solid;
    width: calc(100% / 3 - 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Impostazione seconda section */
main .container-small .Team{
    text-align: center;
}
main .container-small .second-section{
    border: 1px dotted red;
    margin: 0px 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
main .container-small .second-section .left{
    border: 1px dotted green;
}
main .container-small .second-section .right{
    border: 1px dotted green;
    width: 100px;
    height: 80px;
}
main .container-small .paragraph{
    border: 1px dotted green;
    width: auto;
    height: 80px;
    margin: 20px 30px;
}

/* Impostazione terza section */
main .container-small .third-section{
    display: flex;
    padding: 30px;
}
main .container-small .photo{
    border: 1px dotted lightcoral;
    background-color: lightblue;

    flex-grow: 1;
}
main .container-small .testo{
    border: 1px dotted lightblue;
    background-color: lightcoral;
    width: 400px;
    height: 400px;
}

/* Fine terza section */

/* Impostazione quarta section */
main .container-small .fourth-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
main .container-small .fourth-section .row{
    border: 1px dotted blue;

    width: calc( 100% / 3 - 30px );
    height: 300px;

}
/* Fine quarta section */

/* Impostazione quinta section */
main .container-small .fifth-section{
    width: 40%;
    /* height: 200px; */
    border: 1px black dotted;
}
main .container-small .fifth-section h2, main .container-small .fifth-section a{
    margin-bottom: 40px;
}
/* Fine quinta section */

/* Impostazione sesta section : quadrati */
main #squares {
    
    border: 2px green solid;
    
    display: flex;
    justify-content: space-between;
}
main #squares .square-container{
    border: 1px black dashed;
    width: calc(100vw / 3); /* Con la percentuale non sarei stato in grado di dare un altezza in mmodo che siano quadrati */
    height: calc(100vw / 3); /* Essendo quadrati devono avere stessa larghezza(w) e stessa altezza (h) */
    display: flex;
    flex-wrap: wrap;
}
main #squares .square-container .square{
    width: 50%;
    height: 50%;
    border: 4px red solid;
}
main #squares :nth-child(2){
    flex-grow: 1;
}
/* Fine sesta section */
/* Impostazione settima section */
.bg{
    background-color: #B4D0E7;
}
main .container-small .seventh-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 250px;

   
}
main .container-small .seventh-section .larghezza{
    width: 40%;
}
main .container-small .seventh-section .button2{
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 30px;    
}
/* Fine settima section */

/* Impostazione ottava section */
main .container-small .eighth-section h2{
    margin-bottom: 40px;
}
main .container-small .eighth-section hr{
    margin: 30px 0px;
}
main .container-small .eighth-section .domande{
    display: flex;
    justify-content: space-around;
}
main .container-small .eighth-section .domande i{
    padding-left:30px ;
}
/* Fine ottava section */

/* Impostazione footer */
footer {
    background-color: #000000;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container{
    border: 2px solid red;
    width: 1200px;
    height: 300px;

}
footer .footer-top .container .column{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

}
footer .footer-top .container .column .footer-column{
    width: 150px;
    height: 300px;

    border: 1px dotted blue;

}
footer .footer-bottom{
    border-top: 1px solid gray;
    padding: 30px opx;
}